* { margin: 0; 
    padding: 0;
}

    #header {
        
      background-color: #ffffff;
      height: 105px;
      width: 100%;
      padding-top: 15px; 
       
    }
     
    #header-img {
        position: relative;
        top: 12px;
        bottom: 1px;
        right:-1170px;
        border-radius: 5px;
    }
    
    .general{
        position: relative;
        bottom: 45px;
        left: 0px;  
        
    }

    .inicio, .nosotros, .proyectos, .blog, .contacto
    {
        color:hsl(187, 87%, 48%);
    }

    .general2 li {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        display: inline;
        margin:15px;
        
    }

    a:link {
        font-size:20px;
        
        text-decoration:none;
    }

body{
    background-color: lightgrey;
}

#titulo{
    display: block;
    text-align: center;
    margin-top: 50px;
}

#Horas{
    display: block;
    text-align: center;    
}

#Horas label{
    font-size: 20px;
}

#Boton{
    background-color: red;
    display: block;
    color: white;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
}

#ValorSalario{
    display: block;
    text-align: center;
    align-content: center;
    margin: 20px auto;
    border: 2 px solid white;
    padding: 20px;
    font-size: 20px;
    width: 20%;
}

.campo{
    display: block;
    margin: 0 auto;
}

#NombreHermano{
    display: block;
    text-align: center;
    align-content: center;
    margin: 20px auto;
    border: 2 px solid white;
    padding: 20px;
    font-size: 20px;
    width: 20%;
}

.Etapa{
    text-align: center;
}