* { margin: 0; 
    padding: 0; } 

    #header {
        
      background-color: #ffffff; 
       
        
  
    }
     
    


    #header-img {
        position: relative;
        top: 15px;
        bottom: 1px;
        left:1100px;
    }
    
    .general{
        position: relative;
        bottom: 45px;
        left: 70px;
        
        
    }

    .inicio, .nosotros, .proyectos, .blog, .contacto
    {
        color:hsl(187, 87%, 48%);
    }

    .general2 li {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        display: inline;
        margin:15px;
        
    }

    a:link {
        font-size:20px;
        
        text-decoration:none;
    }  

    .cont    
       {
           background-image: url('https://wallpaperaccess.com/full/1828697.jpg');
       }

    h2
       {
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 45px;
       }   

    .caja2{
        margin-left: 50px;
        margin-top: 50px;
        box-sizing: content-box;
        width: 23%;
        background: #ffffff; 
        font-weight: 50px; 
        padding: 15px; 
        border-bottom:8px solid grey; 
        border-radius: 20px;
        border-top: 1px solid rgb(131, 131, 131);
        border-left: 1px solid rgb(129, 129, 129); 
        border-right: 1px solid rgb(122, 122, 122); 
        
        text-align: center;
        position: relative; 
        left:150px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 27px;
        color: rgb(99, 98, 98);
      }   

      .caja3{
        margin-left: 50px;
        margin-top: -288px;
        box-sizing: content-box;
        width: 23%;
        background: #ffffff; 
        font-weight: 50px; 
        padding: 15px; 
        border-bottom:8px solid grey; 
        border-radius: 20px;
        border-top: 1px solid rgb(131, 131, 131);
        border-left: 1px solid rgb(129, 129, 129); 
        border-right: 1px solid rgb(122, 122, 122); 
       
        text-align: center;
        position: relative; 
        left:780px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 27px;
        color: rgb(99, 98, 98);
      }   

      

            .copy
{
    margin-top: 400px;
    font-size: 25px;
    text-align: center;
    background-color: black;
    color: white;
    height: 200px;
}

.copy-text
{
    font-size: 16px;
    font-family: sans-serif;
}

.warning{
    text-align: left;
    margin-top: -130px;
    margin-left: 100px;
    font-size: 90px;
}